$primary-color: #511e2e;
$secondary-color: #61ce70;
$orange-color: #fb6d3a;
$yellow-color: #ffc247;
$grey-color: #e5e5e5;
$text-muted-color: #6c757d;
$white-color: #ffffff;
$light-color: #f6f6f5;

//real
$background-color: #e5e5e5;
$nav-background-color: #fbfbfb;
$icons-box-bg: #d5f0f7;
$gradient-text: #00d2a8;
$gradient-bg: linear-gradient(#00d2a8, #0693b8);
