@import "variables";

.sidebar {
  position: fixed;
  top: 0px;
  width: 210px;
  height: 100%;
  background: $grey-color;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    right: -300px;
    transition: right 700ms;
    z-index: 1000;
    .close-icon {
      margin-right: 90%;
    }

    .base-card {
      margin: auto;
    }
  }

  .expanded {
    right: 0px;
    z-index: 1000;
    transition: right 700ms;
  }
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
  --tw-text-opacity: 1;
  align-items: center;
  border-left-width: 2px;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem rem !important;
  //   width: 100%;
  //   background: red !important;
  //   padding-left: 30px;

  //   padding: 0.75rem 1rem !important;
  padding: 8px 10px !important;

  width: 70% !important;
  margin: 10px 20px;
}
// .side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option {
//     --tw-text-opacity: 1;
//     align-items: center;
//     border-left-width: 2px;
//     color: rgba(55, 65, 81, var(--tw-text-opacity));
//     cursor: pointer;
//     display: flex;
//     justify-content: space-between;
//     padding: 0.75rem 1.5rem;
//     width: 100%;
//   }

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  //   background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  /* border-color: rgba(236,72,153,var(--tw-border-opacity)); */
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-inner .side-navigation-panel-select-inner-wrap .side-navigation-panel-select-inner-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  /* background-color: rgba(243,244,246,var(--tw-bg-opacity)); */
  //   background-color: transparent !important;
  background: -webkit-linear-gradient(#00d2a8, #0693b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //   color: ;
  font-weight: bold;
  border-color: rgba(236, 72, 153, var(--tw-border-opacity));
  border-color: transparent !important;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.side-navigation-panel .side-navigation-panel-select .side-navigation-panel-select-wrap .side-navigation-panel-select-option-selected {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  /* background-color: rgba(243,244,246,var(--tw-bg-opacity)); */
  background-color: transparent !important;
  //   background: linear-gradient(#00d2a8, #0693b8) !important;

  /* border-color: rgba(236,72,153,var(--tw-border-opacity)); */
  background: linear-gradient(#00d2a8, #0693b8) !important;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  border-color: transparent !important;
  color: white !important;
  padding: 8px 10px !important;
  border-radius: 5px;
}

.side-navigation-panel-select-option {
  &:hover {
    background-color: inherit !important;
    border-color: transparent !important;
  }
}
